
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.lab {
    font-family: Montserrat, sans-serif;
}


.top {
    font-family: Inter, sans-serif;
    font-size: 28px;
}


input:palceholder{
    font-family: Montserrat, sans-serif;
    color: #8F8F8F;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    border-color: #444444;
}

input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    font-family: Montserrat, sans-serif; 
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="password"], input[type="submit"] {
        font-size: 14px;
    }
}